<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/report.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="centered">
                <h4>Ngày: <%= date %></h4>
                <h4>Đăng ký nghỉ: <%= timeLeave %></h4>
                <h4>Tổng giờ đã làm: <%= lastTotalTime == 0 ? 'chưa kết thúc làm việc' : lastTotalTime %>  </h4>
            </div>
            <table class="table mt-5">
                <tr>
                    <th>Nơi làm việc</th>
                    <th>Giờ ra</th>
                    <th>Giờ vào</th>
                    <th>Thực tế</th>
                    <th>Tăng ca</th>
                </tr>
                <% for (let work of prods) { %>
                    <tr>
                        <td><% 
                            if (work.position === 1) { %>Công ty<% } 
                            if (work.position === 2) { %>Nhà<% }    
                            if (work.position === 3) { %>Khách hàng<% } 
                            %>
                        </td>
                        <td>
                            <%= work.start %>
                        </td>
                        <td>
                            <%= work.end %>
                        </td>
                        <td>
                            <%= work.workTime %>
                        </td>
                        <td>
                            <%= work.overTime %>
                        </td>
                    </tr>
                <% } %>
            </table>
            <% } else { %>
                <h1>No Products Found!</h1>  
                <% } %>
    </main>
<%- include('../includes/end.ejs') %></body>