<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="formCenter mt-3">
            <% if(!user.statusWork) { %> 
            <form  class="" action="/work-end" method="POST">
                <div class="">
                    <h3>Tên: <%= user.name %></h3>
                    <p>Bộ phận: <%= user.department %></p>
                    <label for="liveWork">Nơi làm việc</label>
                    <select class="form-control" id="liveWork" name="liveWork">
                        <option value="Công ty">Công ty</option>
                        <option value="Nhà">Nhà</option>
                        <option value="Khách hàng">Khách hàng</option>
                    </select>
                </div>
                <button type="submit" class="btn-shimmer btn-circle btn-danger mt-5">Điểm danh vào làm</button>
            </form>
            <% } else { %>
                <form  class="" action="/" method="POST">
                    <input type="hidden" value="<%= work._id %>" name="workId">
                    <div class="">
                        <h3>Tên: <%= user.name %></h3>
                        <p>Bộ phận: <%= user.department %></p>
                        <label for="liveWork">Nơi làm việc</label>
                        <h4><i class="bi bi-caret-right-fill"></i><% 
                            if (work.position === "Công ty") { %>Công ty<% } 
                            if (work.position === "Nhà") { %>Nhà<% }  
                            if (work.position === "Khách hàng") { %>Khách hàng<% } 
                        %></h4>
                    </div>
                    <button type="submit" class="btn-shimmer btn-circle btn-danger mt-5">Điểm danh ra về</button>
                </form>
            <% } %> 
        </div>
    </main>
<%- include('../includes/end.ejs') %></body>