<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/works.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(checkLeave == 1) { %> 
        <div class="grid mt-5">
            <article class="mx-auto">
                <h2>Xin nghỉ phép</h2>
                <div>
                    <p>Số ngày còn lại: <%= user.annualLeave/8 %> </p>
                </div>
                <form  class="mx-auto p-3" style="width: 300px;" action="/checkleave" method="POST">
                    <div class="form-group">
                        <label for="leaveDate" class="col-form-label">Ngày nghỉ</label>
                        <input type="date" class="form-control" name="leaveDate" id="leaveDate">
                    </div>
                    <div class="form-group">
                        <label for="leaveTime" class="col-form-label">Số giờ nghỉ</label>
                        <input type="number" class="form-control" name="leaveTime" id="leaveTime" placeholder="Số giờ xin nghỉ" min="0" 
                            max="<% if (user.annualLeave > 8) { %>8<% } else { %><%= user.annualLeave %><% } %>" 
                        >
                    </div>
                    <div class="form-group">
                        <label for="reason">Lý do</label>
                        <textarea class="form-control" name="reason" id="reason" rows="3"></textarea>
                    </div>
                    <button type="submit" class="mx-auto">Gửi yêu cầu</button>
                </form>
            </article>
        </div>
        <% } else if (checkLeave == 2) {%>
        <div class="grid mt-5">
            <article class="mx-auto">
                <h2>Xin nghỉ phép</h2>
                <div>
                    <p>Số ngày còn lại: <%= user.annualLeave/8 %> </p>
                </div>
                <form  class="mx-auto p-3" style="width: 300px;" action="/checkleave" method="POST">
                    <div class="form-group">
                        <label for="leaveDate" class="col-form-label">Từ ngày</label>
                        <input type="date" class="form-control" name="leaveFromDate" id="leaveDate">
                        <label for="leaveDate" class="col-form-label">Đến ngày</label>
                        <input type="date" class="form-control" name="leaveToDate" id="leaveDate">
                    </div>
                    <div class="form-group">
                        <label for="leaveTime" class="col-form-label">Số giờ nghỉ</label>
                        <input type="number" class="form-control" name="leaveTime" id="leaveTime" placeholder="Số giờ xin nghỉ" min="0" 
                            max="<%= user.annualLeave %>"
                        >
                    </div>
                    <div class="form-group">
                        <label for="reason">Lý do</label>
                        <textarea class="form-control" name="reason" id="reason" rows="3"></textarea>
                    </div>
                    <button type="submit" class="mx-auto btn-primary">Gửi yêu cầu</button>
                </form>
            </article>
        </div>
        <% } else { %>
            <h1>no data</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %></body>